@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #10172a;
  color: white;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background: radial-gradient(
    circle 400px at 50% 50%,
    rgba(29, 78, 216, 0.15),
    transparent 80%
  );
  z-index: 9999;
  transition: background-position 0.1s;
}

p {
  color: rgb(148 163 184 / 1);
}
